/**************/
/**************/
*, *::after, *::before {
	/* CSS REMEDY */
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#000000;
	--color-background:#eee;
	--color-header:#161617eb;
	--color-header1:#F3F3F6;
	--color-button-text:#ffff;
	--color-menudropdown: #161617;
	--color-svg: #D0D0D0;
	--color-link: #2997ff;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* Fonts */
/* ik weet dat het beter kan met alleen font weight */
@font-face {
	font-family: "SF Pro Display";
	src: url('../fonts/sf-pro-display_regular.woff2');
	font-style: normal;
	line-height: 1.125;
	format: ('woff2');
}


@font-face {
	font-family: "SF Pro Display thin";
	src: url('../fonts/sf-pro-display_thin.woff2');
	font-style: thin;
	line-height: 1.21053;
	format: ('woff2');
}

@font-face {
	font-family: "SF Pro Display semibold";
	src: url('../fonts/sf-pro-display_semibold.woff2');
	font-style: semibold;
	line-height: 1.21053;
	format: ('woff2');
}
/* Fonts */



body {
	width: 100vw;
	background-color:var(--color-background);
	font-family: "SF Pro Display";
}

a:visited {
	-webkit-: none;
	text-decoration: none;
}

header {
	z-index: 100;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	background-color: var(--color-header);
	backdrop-filter: blur(.4em);
}
header>nav {
	display: flex;
	align-items: center;
}

header svg {
	fill:var(--color-background);
}


main {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: SF Pro Display	semibold, sans-serif;
	font-size: 2em;
	letter-spacing: .02em;
	text-align: center;
}

H2{
	font-family: SF Pro Display thin, sans-serif ;
	font-weight: 400;
	font-size: 1.1875em;
	text-align: center;
}

/* Inhoud menu */

body>nav {
	position: fixed;
	background-color: var(--color-menudropdown);
	inset: 0;
	height: 100%;
	translate: 0 -100%;
	transition: 1s ease-in-out;
	padding-top: 3rem;
} 

body>nav.open {
	visibility: visible;
	translate: 0 0;
	transition: 1s ease-in-out;
}

body>nav ul {
	height: auto;
	display: flex;
	list-style-type: none;
	flex-direction: column;
	justify-content: flex-start;
	gap: .5em;
	color: var(--color-button-text);
	font-family: SF Pro Display semibold,sans-serif;
	flex-grow:1;
}

body>nav ul li:nth-of-type(1) { 
	--index:0; 
}
body>nav ul li:nth-of-type(2) {
	--index: 1;
}
body>nav ul li:nth-of-type(3) {
	--index: 2;
}
body>nav ul li:nth-of-type(4) {
	--index: 3;
}
body>nav ul li:nth-of-type(5) {
	--index: 4;
}
body>nav ul li:nth-of-type(6) {
	--index: 5;
}

body>nav ul li {
	margin-top:-.25em;
	opacity:0;

	transition: .2s 0s;
}

body>nav.open ul li {
	margin-top: 0;
	opacity: 1;

	transition: .25s calc(1s + .05s * var(--index));
}

body>nav ul li a{
	color: var(--color-button-text);
	font-family: SF Pro Display semibold, sans-serif;
	font-size: 1.8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 1em 0 2.35em;
}

body>nav ul li a svg{
	rotate: 180deg;
	fill:currentColor;
	opacity: 0;
	transition: .25s;
}

body>nav ul li a:hover svg,
body>nav ul li a:focus-visible svg {
	opacity: 1;
}



/* Winkelwagen */

body>nav:nth-last-of-type(2).open {
	visibility: visible;
	translate: 0 0;
	transition: 1s ease-in-out;
}














/* --------------------------------------------------- */

/* Navigatie header */
header>a {
	width: 3em;
	aspect-ratio: 1;
	display: flex;
	justify-content:center;

}

nav {
	display: flex;
	justify-content: space-between;
	gap: .5em;
}

header>nav>button {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	text-align: inherit;
	font: inherit;
	border-radius: 0;
	appearance: none;
	height:2.5em;
	width:2.5em;
	display:grid;
	place-items: center;
	place-content: center;
	cursor: pointer;
}
/* --------------------------------------------------- */

/* Main */

main {
	display: flex;
	gap: .5em;
}

a:link, a:visited {
	color: var(--color-link);
	text-decoration: none;
}

main section {
	display: flex;
	flex-flow: column nowrap;
	gap: .75em;
	align-items: center;
	padding-top: 3em;
	color: var(--color-text);
}

main section:nth-of-type(2n+1) {
	background-color: var(--color-text);
	color: white;
}

main section:nth-of-type(2n) {
	background-color: var(--color-header1);
	color: var(--color-text); 
}

main section img {
	width: 100%;
}

main section ul {
	display: flex;
	width: 12em;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
}

main section ul li>a {
	font-family: SF Pro Display thin, sans-serif;
}

/* Header */

header nav button:nth-of-type(3){
	position: relative;
	display: block;
	width: 2em;
	aspect-ratio: 1;	
	appearance: none;
	border: none;
	display: grid;
	place-items: center;
}

header nav button:nth-of-type(3) span {
	position: absolute;
	display: block;
	width: 1em;
	height: .08em;
	background-color: var(--color-svg);
	transition: .15s ease-in-out;
}

header nav button:nth-of-type(3) span:nth-of-type(1) {
	translate: 0 -.25em;
}

header nav button:nth-of-type(3) span:nth-of-type(2) {
	translate: 0 .25em;
	z-index: 2000;
}

header nav button.open:nth-of-type(3) span:nth-of-type(1) {
	translate: 0 0;
	rotate: 45deg;
	z-index: 2000;
}

header nav button.open:nth-of-type(3) span:nth-of-type(2) {
	translate: 0 0;
	rotate: -45deg;
	z-index: 2000;
}

/* Footer */

footer nav {
	justify-content: center;
	list-style-type: none;
}

footer ul {
	list-style-type: none;
}