/**************/
/**************/
*, *::after, *::before {
	/* CSS REMEDY */
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#000000;
	--color-background:#eee;
	--color-header:#C8C8CAcc;
	--color-header1:#F3F3F6;
	--color-button-text:#ffff;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* Fonts */

@font-face {
	font-family: "SF Pro Display";
	src: url('../fonts/sf-pro-display_regular.woff2');
	font-style: normal;
	line-height: 1.125;
	format: ('woff2');
}


@font-face {
	font-family: "SF Pro Display thin";
	src: url('../fonts/sf-pro-display_thin.woff2');
	font-style: thin;
	line-height: 1.21053;
	format: ('woff2');
}

@font-face {
	font-family: "SF Pro Display semibold";
	src: url('../fonts/sf-pro-display_semibold.woff2');
	font-style: semibold;
	line-height: 1.21053;
	format: ('woff2');
}


/* Fonts */

body {
	width: 100vw;
	background-color:var(--color-background);
	font-family: "SF Pro Display";
}

header {
	width: 100vw;
	z-index: 100;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	background-color: var(--color-header);
	backdrop-filter: blur(.4em);
}

header nav section{
	height: 100%;
	width: 0;
	z-index: 101;
	left: 0;
	top: 0;
	background-color: var(--color-header);
	overflow-x: hidden;
	transition: .5s;
}

header section>ul {
	position: relative;
	top: 25%;
		/* 25% from the top */
	width: 100%;
		/* 100% width */
	text-align: center;
		/* Centered text/links */
	margin-top: 30px;
}

main {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: SF Pro Display	semibold;
	font-size: 2em;
	text-align: center;
}

H2{
	font-family: SF Pro Display thin ;
	font-weight: 400;
	font-size: 1.1875em;
	text-align: center;
}


header>a {
	width: 3em;
	aspect-ratio: 1;
	color: white;
	display: flex;
	justify-content:center;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
}

header>nav>button {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	text-align: inherit;
	font: inherit;
	border-radius: 0;
	appearance: none;
	height:2.5em;
	width:2.5em;
	display:grid;
	place-items: center;
	place-content: center;
	cursor: pointer;
}

main {
	display: flex;
	gap: .5em;
}


main section {
	display: flex;
	flex-flow: column nowrap;
	gap: .75em;
	align-items: center;
	padding-top: 3em;
	color: black;
}

main section:nth-of-type(1) {
	background-color: var(--color-text);
	color: white;
}

main section:nth-of-type(2) {
	background-color: var(--color-header1);
	color: black; 
}

main section img {
	width: 100%;
}

main section:nth-of-type(1) ul {
	display: flex;
	width: 12em;
	flex-direction: row;
	color: #2997ff;
	list-style-type: none;
	justify-content: space-between;
}

main section ul li>a {
	font-family: SF Pro Display thin;
}

header nav button:nth-of-type(3){
	position: relative;
	display: block;
	width: 2em;
	aspect-ratio: 1;	
	appearance: none;
	border: none;
	display: grid;
	place-items: center;
}

header nav button:nth-of-type(3) span {
	position: absolute;
	display: block;
	width: 1em;
	height: .1em;
	background-color: black;
	transition: .2s;
}

header nav button:nth-of-type(3) span:nth-of-type(1) {
	translate: 0 -.25em;
}

header nav button:nth-of-type(3) span:nth-of-type(2) {
	translate: 0 .25em;
}

header nav button.open:nth-of-type(3) span:nth-of-type(1) {
	translate: 0 0;
	rotate: 45deg;
}

header nav button.open:nth-of-type(3) span:nth-of-type(2) {
	translate: 0 0;
	rotate: -45deg;
}

